.slide{
    background-color: white;
    border-radius: 8px;
  }
  
  .slide img{
    width: 100%;
    object-fit: cover;
    height: 16rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .slide img + div{
    padding-bottom: 2.5rem;
  }
  
  .slide div{
    padding: 1rem;
  }
  
  .categriestag{
    display: flex;
  }
  
  .slide h2{
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .categriestag span{
    padding: .5rem .9rem;
    border-radius: 8px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }