.container{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}


.titleContainer h2{
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: normal;
  }

@media (min-width: 661px) and (max-width: 1023px) {
    .container{
        justify-content: space-between;
     }
}

@media (min-width:1024px) {
    .container{
       justify-content: space-between;
    }
}